* {
    padding: 0;
    margin: 0;
}
header {
    width: 100%;
    height: 90px;
    float: left;
    background-color: #141c25;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    position: fixed;
}

main {
    padding-top: 100px;
    width: 40%;
    height: 1000px;
    clear: both;
    padding-right: 30%;
    padding-left: 30%;
    text-align: center;
    background-color: white;
}

footer {
    width: 100%;
    height: 250px;
    background-color: #141c25;
}

li {
    width: 5%;
    list-style: none;
    display: inline-block;
    margin-left: 21%;
    margin-top: 1.5%;
    background-color: white;
    text-align: center;
    border-radius: 20px;
}

.text h1 {
    text-align: center;
    font-size: 30x;
    font-family: Arial, Helvetica, sans-serif;
}
.text p {
    text-align: left;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    clear: right;
    padding-right: 5%;
}

.text img {
    width: 40%;
    height: 400px;
    float: left;
    border-radius: 3%;
    padding-right: 5%;
    margin-left: 5%;
}

.text {
    padding-top: 10%;
}

hr {
    margin-top: 80px;
}
div #num {
    width: 50%;
    height: 200px;
    margin-left: 20%;
}
h3 {
    color: white;
}
.social img{
    width: 2%;
    height: 40px;
    position: relative;
    bottom: 3%;
    left: 95%;
    top: 10%;
}

a {
    text-decoration: none;
    color: black;
}

a:link, a:visited, a:hover, a:active {
	color: black;
}
#topo {
    color: #141c25;

}
#prin {
    background-color: #141c25;
    border-radius: 50px;
    color: white;
    margin-top: 50px;
}

@media (min-width: 280px) {
    main {
        height: 2000px;
    }
    #prin {
        border-radius: 30px;
        font-size: 20px;
    }
    li {
        width: 26%;
        list-style: none;
        display: inline-block;
        margin-left: 5.5%;
        margin-top: 1.5%;
        background-color: white;
        text-align: center;
        border-radius: 20px;
    }
    .text img {
        width: 90%;
        height: 200px;
        float: left;
        border-radius: 3%;
        padding-right: 5%;
    }
    .social {
        width: 3%;
        height: 40px;
        position: relative;
        bottom: 3%;
        left: 96%;
    
    }
    .text a p{
        font-size: 17px;
    }
}
@media (min-width: 279px) {
    main {
        height: 2000px;
    }
    #prin {
        border-radius: 30px;
        font-size: 20px;
    }
    li {
        width: 26%;
        list-style: none;
        display: inline-block;
        margin-left: 5.5%;
        margin-top: 1.5%;
        background-color: white;
        text-align: center;
        border-radius: 20px;
    }
    .text img {
        width: 90%;
        height: 200px;
        float: left;
        border-radius: 3%;
        padding-right: 5%;
    }
    
    .social {
        width: 90%;
        height: 40px;
        position: relative;
        bottom: 3%;
        left: 0%;
    
    }
    .text a p{
        font-size: 17px;
    }
}

